@model PreInfoTrans.Models.Tsmp

@{
    ViewData["Title"] = "Удалить ТС";
}

<h1>Удалить</h1>

<h3>ТС из списка ТСМП?</h3>
<div>
    <h4>ЭПИ номер @Html.DisplayFor(model => model.EpiDocName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinCode)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        @{
            var _id = int.Parse(Model.EpiDocName);
        }
        <a class="btn btn-secondary" asp-controller="Epis" asp-action="Edit" asp-route-id="@_id">Отмена</a>
    </form>
</div>
